<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <h2 class="section-heading">{{ site.cta.heading }}</h2>
                <hr class="light">
                <p class="text-faded">{{ site.cta.description }}</p>
                <a href="{{ site.cta.button_link }}" class="btn btn-default btn-xl">{{ site.cta.button_text }}</a>
            </div>
        </div>
    </div>
</section>
